/IrregularGlideImageView/app/build
/IrregularGlideImageView/glideimageview/build
/IrregularGlideImageView/.idea
/IrregularGlideImageView/.gradle
/IrregularGlideImageView/app/app.iml
/IrregularGlideImageView/glideimageview/glideimageview.iml
/IrregularGlideImageView/IrregularGlideImageView.iml
/IrregularGlideImageView/build
/IrregularGlideImageView.iml
/.gradle
/.idea
/app/app.iml
/glideimageview/glideimageview.iml
/app/build
/glideimageview/build
/local.properties
/shape-image-view/build
/shape-image-view/shape-image-view.iml
/gradle
/gradlew.bat
/gradle.properties
/gradlew
/ShapeImageView.iml
